<header class="chrome:header">
  <div class="chrome:header_title">
    <a href="https://rideaurollers.com" class="text-grey-800 no-underline hover:no-underline focus:no-underline center">
      <img src="https://dhgf5mcbrms62.cloudfront.net/91930775/header-fcHJMd/8XCyaqv-200x200.png" width="200px" />
    </a>
    <div class="text-grey-800 no-underline hover:no-underline focus:no-underline center">
      Ottawa's store for rollerskates, apparel and gifts
    </div>
  </div>
  {% if site.search_enabled %} {% include search_input.html %} {% endif %}
</header>
